@(taskForm: Form[Task])

@import helper._

@main("Todo list") {				
	@form(routes.Application.updateTask()) {
	<div class="modal-header">
	<h2>Редактирование записи</h2>
	</div>
	<input type="hidden" name ="id" value="@taskForm.get().id">
    <div class="col-md-2">
        <select name="GiftStatus" class="form-control" contenteditable="true">
            <option value="Куплено" @if(taskForm("GiftStatus").value == "Куплено") {selected}>Куплено</option>
            <option value="Еще нет" @if(taskForm("GiftStatus").value == "Еще нет") {selected}>Еще нет</option>
        </select>
    </div>
	<div class="col-md-2">
	  <input required type=date class="form-control" name="Birthday" value="@taskForm("Birthday").value" contenteditable="true">
	</div>
	<div class="col-md-2">
	  <input required type=text class="form-control" name="Name" value="@taskForm("Name").value" contenteditable="true">
	</div>
	<div class="col-md-2">
	  <input required type=text class="form-control" name="Gift" value="@taskForm("Gift").value" contenteditable="true">
	</div>	

    <input type="submit" class="btn btn-success" value="Save">
	}		
}