@(taskForm: Form[Task])

@import helper._

@main("Todo list") {				
	@form(routes.Application.updateTask()) {
	<div class="modal-header">
	<h2>Редактирование записи</h2>
	</div>
	<input type="hidden" name ="id" value="@taskForm.get().id">
	<div class="col-md-2">
	  <input required type=Date class="form-control" name="PlanDate" value="@taskForm("PlanDate").value" contenteditable="true">
	</div>
	<div class="col-md-2">
	  <input required type=text class="form-control" name="PlanName" value="@taskForm("PlanName").value" contenteditable="true">
	</div>
	<div class="col-md-2">
	  <input required type=text class="form-control" name="Gift" value="@taskForm("Gift").value" contenteditable="true">
	</div>	

    <input type="submit" class="btn btn-success" value="Save">
	}		
}