@(tasks: List[Task], taskForm: Form[Task])

@import helper._
@main("Todo list") {
<table class="table table-striped">
    @if(tasks.size()!=0) {
    <tr>
        <th  width="10">Status</th>
        <th  width="150">Date</th>
        <th  width="150">Plan Name</th>
        <th  width="150">Gift</th>
        <th  width="70"></th>
    </tr>
    }
    @for(task <- tasks) {

    <tr>
        @if(task.GiftStatus == "0"){
        <td><img src="/assets/images/1.png" type="image/png"></td>
        }
        @if(task.GiftStatus == "1"){
        <td><img src="/assets/images/2.png" type="image/png"></td>
        }
        <td>@task.PlanDate</td>
        <td>@task.PlanName</td>
        <td>@task.Gift</td>
        <td>
            @form(routes.Application.deleteTask(task.id)) {
            <input type="submit" class="btn btn-danger" value="Delete">
            }
        </td>
        <td>
            @form(routes.Application.editTask(task.id)) {
            <input type="submit" class="btn btn-info" value="Edit">
            }
        </td>
        <a href ="@routes.Application.editTask(task.id)"></a>

    </tr>
    }


</table>

<h2>Add a new task</h2>

@form(routes.Application.newTask()) {

<div class="col-md-2">
    <select name="GiftStatus" class="form-control">
        <option value="0">Куплено</option>
        <option value="1">Еще нет</option>
    </select>
</div>

<div class="col-md-3">
    <input required type=date class="form-control" name="PlanDate" placeholder="Date"/>
</div>

<div class="col-md-2">
    <input required type=text class="form-control" name="PlanName" placeholder="Plan Name"/>
</div>

<div class="col-md-2">
    <input required type=text class="form-control" name="Gift" placeholder="Gift"/>
</div>

<div class="col-md-1">
    <input type="submit" class="btn btn-warning" value="Create">
</div>
}

}
