@(tasks: List[Task], taskForm: Form[Task])

@import helper._
@main("Todo list") {

<p><a href="#" data-bind="click : BETA">BETA</a></p>

<div>
    <table>
        <thead>
        <tr>
            <td  width="10">Status</td>
            <td  width="150">Name</td>
            <td  width="150">Birthday</td>
            <td  width="150">Gift</td>
            <td  width="70"></td>
            <td  width="170"></td>
        </tr>
        </thead>
        <tbody data-bind="foreach: tasks">
            <tr>
                <td data-bind="text: giftStatus"></td>
                <td data-bind="text: name"></td>
                <td data-bind="text: birthday"></td>
                <td data-bind="text: gift"></td>
                <td><input type="button" value="Edit" class="btn btn-default" data-bind="click: $root.updTaskPrep" /></td>
                <td><input type="button" value="Delete" class="btn btn-danger" data-bind="click: $root.delTask"/></td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Add a new task</h2>


<div class="col-md-3">
    <select name="GiftStatus" class="form-control" data-bind="options : availableGifts,
                                                              value : self.giftStatus"></select>
</div>

<div class="col-md-3">
    <input required type="Date" class="form-control" name="Birthday" placeholder="Birthday" data-bind="textInput : birthday"/>
</div>

<div class="col-md-3">
    <input required type="text" class="form-control" name="Name" placeholder="Name"  data-bind="textInput : name"/>
</div>

<div class="col-md-3">
    <input required type="text" class="form-control" name="Gift" placeholder="Gift" data-bind="textInput : gift"/>
</div>

<div class="col-md-1">
    <input type="submit" class="btn btn-warning" value="Create" data-bind="click : createOrUpdate">
</div>

}
